* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4cdd2;
}

.container {
    width: 100%;
    min-height: 100vh;
}

/* NAVBAR */

nav {
    width: 100%;
    height: 60px;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
}

.logo h1 {
    color: #a0002d;
    font-size: 40px;
}

.logo h1 span {
    color: #f24141;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #F24141;
    transition: 0.3s;
}

a:hover {
    color: #a0002d;
}

/* link aktif */
a.active {
    color: #a0002d;
    background-color: #F4CCD2;
    padding: 4px 20px;
    border-radius: 5px;
}

/* HERO */

.hero {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.hero h1 {
    font-size: 90px;
    line-height: 1.1;
}

.hero h1 span {
    color: #a0002d;
}

.hero h3 {
    font-size: 24px;
    margin-top: 20px;
    color: #a0002d;
    font-style: italic;
}

/* QUOTE CONTROLS */

.quote_controls {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown {
    position: relative;
}

.dropdown_btn {
    width: 540px;
    height: 66px;

    border: 2px solid #ffffff;
    border-radius: 10px;

    background: white;
    color: #a0002d;
    font-style: italic;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;

    font-size: 22px;
    
    text-align: left;

    cursor: pointer;

    box-shadow: 0 12px 30px rgba(160, 0, 45, 0.12);
}

.dropdown_arrow {
    font-size: 28px;
    line-height: 1;

    transition: 0.3s;
}

.dropdown_btn.active .dropdown_arrow {
    transform: rotate(180deg);
}

/* MENU */

.dropdown_menu {
    position: absolute;

    top: 72px;
    left: 0;

    width: 540px;
    background: white;

    border-radius: 10px;
    list-style: none;
    overflow: hidden;
    display: none;

    box-shadow: 0 18px 35px rgba(160, 0, 45, 0.18);
}

/* ACTIVE MENU */

.dropdown_menu.show {
    display: block;
}

/* ITEM */

.dropdown_menu li {
    display: block;

    padding: 18px 24px;
    margin-right: 0;

    font-size: 20px;
    text-align: left;
    color: #a0002d;

    cursor: pointer;

    transition: 0.3s;
}

.dropdown_menu li:hover {
    background: #a0002d;

    color: white;
}

/* GENERATE BUTTON */

.generate_btn {
    width: 240px;
    height: 66px;

    border: none;
    border-radius: 10px;

    background: #a0002d;
    color: white;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 12px 30px rgba(160, 0, 45, 0.22);
}

/* OVERLAY */

.overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(255, 255, 255, 0.35);

    backdrop-filter: blur(12px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

/* HIDDEN */

.hidden {
    display: none;
}

/* MODAL */

.quote_modal {
    width: 700px;

    padding: 50px;

    border-radius: 30px;

    position: relative;

    text-align: center;

    background: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

/* CLOSE BUTTON */

.close_btn {
    position: absolute;

    top: 20px;
    right: 30px;

    font-size: 40px;

    cursor: pointer;

    color: #a0002d;
}

/* MODAL QUOTE */

.modal_quote {
    font-size: 42px;

    line-height: 1.5;

    color: black;

    margin-top: 40px;

    font-weight: bold;
}

/* AUTHOR */

.modal_author {
    margin-top: 30px;

    color: rgba(180, 23, 23, 0.8);

    font-size: 24px;

    font-style: italic;
}

/* BUTTONS */

.modal_buttons {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    gap: 40px;
}

.modal_buttons button {
    width: 180px;
    height: 60px;

    border: none;
    border-radius: 16px;
    background: #f4c9ca;
    color: #a0002d;

    backdrop-filter: blur(10px);

    font-size: 20px;

    cursor: pointer;

    transition: 0.3s;
}

.modal_buttons button:hover {
    transform: scale(1.05);

    background: #a0002d;
    color: white;
}

@media (max-width: 760px) {
    nav {
        padding: 0 24px;
    }

    .hero h1 {
        font-size: 58px;
    }

    .hero h3 {
        font-size: 18px;
        padding: 0 24px;
    }

    .quote_controls {
        flex-direction: column;
        padding: 0 24px;
    }

    .dropdown,
    .dropdown_btn,
    .dropdown_menu,
    .generate_btn {
        width: 100%;
        max-width: 360px;
    }
}
